<div class="wrapper-brand-search">
	<div class="block-brand-search">
		<form method="post" action="/search/">
			<div class="clearfix">
				<div class="block-brand clearfix">
					<label for="select-brand">Шаг 1:</label>
					<select id="select-brand" name="bid" class="select-brand">
						<option value="0">Выберите бренд</option>
						{foreach from=$brands item=brand}
							<option value="{$brand.id}" {if $select_bid == $brand.id}selected{/if}>{$brand.label}</option>
						{/foreach}
					</select>
				</div>
				<div class="block-search clearfix">
					<label for="select-model">Шаг 2:</label>
					<div class="store-search">
						<div class="with-caret">
							<i class="fa fa-caret-down"></i>
							<input type="text" autocomplete="off" name="searchbrand" value='{$searchbrand|default}' id="select-model" class="filter" placeholder="Напишите модель ноутбука или самого устройства" disabled="disabled" />
						</div>
						<input type="submit" name="submit" value="Найти" class="btn" />
					</div>
				</div>
			</div>
		</form>
	</div>
</div>