<script type="text/javascript" src="{$smarty.const.URL_JS}/checkout.your_info.js"></script>
<style type="text/css">
<!--
{if $action eq 'auth'}{literal}
  #block-customerinfo{display: none;}
{/literal}{else}{literal}
  #block-auth{display: none;}
{/literal}{/if}
{if $billing_as_shipping}{literal}
  #block-billing-address{display: none;}
{/literal}{/if}
{if !$permanent_registering}{literal}
  #block-loginpass-fields{display: none;}
{/literal}{/if}
-->
</style>

<div class="dfgt"> Оформление заказа &gt; Укажите способ доставки &gt; Подтверждение</div>
<h1>Укажите cпособ доставки</h1>

<div class="wrapper-delivery">
  <ul class="no-bullet inline clearfix">
    <li class="col1"><a href="#self" class="btn_checkout  delivery  btn orange" data-delivery="self" data-class=".field">Самовывоз</a></li>
    <li class="col3"><a href="#moscow" class="btn_checkout delivery  btn orange active" data-delivery="moscow1" data-class=".field">по Москве в пределах МКАД</a></li>
    <li class="col3"><a href="#moscow" class="btn_checkout delivery  btn orange" data-delivery="moscow2" data-class=".field">по Москве за МКАД до 15 км.</a></li>
    <li class="col2"><a href="#russia" class="btn_checkout delivery  btn orange" data-delivery="russia" data-class=".field">Доставка по России</a></li>
  </ul>
</div>

<form id="block-customerinfo" method="post" action="{''|set_query_html}" {if $email_exists || $login_form}style="display:none;"{/if}>
<input name="action" value="process_customer_info" type="hidden" />
<input name="delivery-type" id="delivery-type" value="moscow1" type="hidden" />

  <div class="row clearfix pad-top">
    <div class="text-center"> {$MessageBlock} </div>
  </div>

<div class="wrapper-forms field self moscow1 moscow2 russia">
  
  <p id="checkout_have_account" class="text-center">
    {'checkout_already_have_account'|translate|replace:'%SHOPNAME%':$smarty.const.CONF_SHOP_NAME} <a href="{'?ukey=auth'|set_query_html}" class="hndl_show_login">{lbl_btn_login}</a>
  </p>

      
  <div class="field self moscow1 moscow2 russia">
    <div class="row clearfix">
      <div class="label text-right"> <label for="fio">ФИО:<sup>*</sup></label> </div>
      <div class="value"> 
        <input type="text" name="customer_info[first_name]" id="fio" class="text" value="{$customer_info.first_name|escape:'html'}" /> 
        <input type="hidden" name="customer_info[last_name]" value=" " />
      </div>
    </div>
  </div>

  <div class="field self moscow1 moscow2 russia">
    <div class="row clearfix">
      <div class="label text-right"> <label for="customer_info[_custom_fields][1]">Номер тел.:<sup>*</sup></label> </div>
      <div class="value"> <input type="text" name="customer_info[_custom_fields][1]" id="customer_info[_custom_fields][1]" class="text" /> </div>
    </div>
  </div>

  <div class="field moscow1 moscow2 russia">
    <div class="row clearfix">
      <div class="label text-right"> <label for="customer_info[_custom_fields][3]">Доп. номер тел.:</label> </div>
      <div class="value"> <input type="text" name="customer_info[_custom_fields][3]" id="customer_info[_custom_fields][3]" class="text" /> </div>
    </div>
  </div>
  
  <div class="field moscow1 moscow2 russia">
    <div class="row clearfix">
      <div class="label text-right"> <label for="shipping_address[address]">Адрес доставки:<sup>*</sup></label> </div>
      <div class="value"> <textarea name="shipping_address[address]" id="shipping_address[address]" rows="4" class="text"></textarea> </div>
    </div>
  </div>
  
  <div class="field moscow1 moscow2">
    <div class="row clearfix">
      <div class="label text-right"> <label for="customer_info[_custom_fields][2]">Ближайшее метро:<sup>*</sup></label> </div>
      <div class="value"> <input type="text" name="customer_info[_custom_fields][2]" id="customer_info[_custom_fields][2]" class="text" /> </div>
    </div>
  </div>

  <div class="field russia hide">  
    <div class="row clearfix">
      <div class="label text-right"> <label for="shipping_address[city]">Город:<sup>*</sup></label> </div>
      <div class="value"> <input type="text" name="shipping_address[city]" id="shipping_address[city]" class="text" /> 
        <input type="hidden" name="shipping_address[countryID]" value="176" />
      </div>
    </div>
  </div>
  
  <div class="field russia hide">  
    <div class="row clearfix">
      <div class="label text-right"> <label for="shipping_address[zip]">Индекс:<sup>*</sup></label> </div>
      <div class="value"> <input type="text" name="shipping_address[zip]" id="shipping_address[zip]" class="text small" /> </div>
    </div>
  </div>
  
  <div class="field self moscow1 moscow2 russia"> 
    <div class="row clearfix">
      <div class="label text-right"> <label for="ustomer_info[Email]">Email:<sup>*</sup></label> </div>
      <div class="value"> <input type="text" name="customer_info[Email]" id="ustomer_info[Email]" class="text email" value="{$customer_info.Email|escape:'html'}" /> </div>
    </div>
  </div>

  <div class="row clearfix">
    <input name="customer_info[subscribed4news]" value="1"{if $customer_info.subscribed4news || ($subscribed4news)} checked{/if} id="custinfo-subscribed4news" type="checkbox" />
    <label class="checkbox" for="custinfo-subscribed4news">{lbl_usrreg_subscribe_for_blognews}</label>
  </div>
  
  <div class="row clearfix">
    <input name="permanent_registering" id="hndl-show-loginpass-fields"{if $permanent_registering} checked{/if} type="checkbox" />
    <label class="checkbox" for="hndl-show-loginpass-fields">{'checkout_permanent_registering'|translate|replace:'%SHOPNAME%':$smarty.const.CONF_SHOP_NAME}</label>
  </div>
  
  <div id="block-loginpass-fields">
    
    <div class="row clearfix">
      <div class="label text-right"> <label for="customer_info[Login]">{lbl_usr_custinfo_login}:</label> </div>
      <div class="value"> <input name="customer_info[Login]" id="customer_info[Login]" value="" type="text" class="text small"> </div>
    </div>
    <div class="row clearfix">
      <div class="label text-right"> <label for="customer_info[cust_password]">{lbl_usr_custinfo_password}:</label> </div>
      <div class="value"> <input name="customer_info[cust_password]" id="customer_info[cust_password]" value="" type="password" class="small" /> </div>
    </div>    
    <div class="row clearfix">
      <div class="label text-right"> <label for="customer_info[cust_password1]">{lbl_usrreg_customer_confirm_password}:</label> </div>
      <div class="value"> <input name="customer_info[cust_password1]" id="customer_info[cust_password1]" value="" type="password" class="small" /> </div>
    </div>
    
  </div> 
  
  {if !$SessionRefererLogin && $smarty.const.CONF_AFFILIATE_PROGRAM_ENABLED eq 1}
    <div class="row clearfix">
      <div class="label text-right"> <label for="customer_info[affiliationLogin]" class="clearfix">{lbl_usr_custinfo_referrer}</label> </div>
      <div class="value"> <input name="customer_info[affiliationLogin]" id="customer_info[affiliationLogin]" value="{$customer_info.affiliationLogin|escape:'html'}" type="text" class="text small"/></div>
    </div>
  {/if}
        
  {if $smarty.const.CONF_ENABLE_CONFIRMATION_CODE}  
  <div class="row clearfix">
    <div class="label text-right"><label class="clearfix"><img src="{$smarty.const.URL_ROOT}/imgval.php" alt="code" align="right" /><sup>*</sup></label></div>
    <div class="value">
      <input name="confirmation_code" value="" type="text" class="small" />
      <br /> {"str_enter_ccode"|translate}
    </div>
  </div>
  {/if}
  
  <div class="row clearfix text-center">
    <input type="submit" name="submit" class="checkout_buttons btn orange large" value="{'checkout_next_step'|transcape}" />
  </div>

</div>
</form>

{if $email_exists}
<p class="text-center">{'checkout_email_exists'|translate|replace:'[email]':$email_exists}</p>
{/if}

<form action="{''|set_query_html}" id="block-auth" method="post" {if $email_exists || $login_form}style="display:block;"{/if}>

  <div class="wrapper-forms"> 
     
    <div class="row clearfix">
      <div class="text-center"> {$MessageBlock__auth} </div>
    </div>
    
    <input name="action" value="auth" type="hidden" />
  
    <div class="row clearfix">
      <div class="label text-right"> <label for="Login">{"usr_custinfo_login"|translate}:</label> </div>
      <div class="value"> <input type="text" name="auth[Login]" id="Login" value="{$auth.Login|escape:'html'}" class="text small" /> </div>
    </div>
  
    <div class="row clearfix">
      <div class="label text-right"> <label for="cust_password">{"usr_custinfo_password"|translate}:</label> </div>
      <div class="value"> <input name="auth[cust_password]" id="cust_password" type="password" class="text small" /> </div>
    </div>
    
    <div class="row clearfix">
      <div class="text-center"> <input type="submit" class="checkout_buttons" value="{lbl_btn_login}" /> </div>
    </div>
        
    <div class="row clearfix text-center">
      <a href="{'?ukey=remind_password'|set_query_html}">{lbl_lnk_forgot_password}</a>
      &nbsp;
      <a href="{'?ukey=checkout'|set_query_html}" class="hndl_show_login">{lbl_checkout_as_newcustomer}</a>
    </div>
  </div>  

</form>