{* category view *}
	<a href="{"?"|set_query}">{"lnk_homepage"|translate}</a> {$BREADCRUMB_DELIMITER}
	{section name=i loop=$product_category_path}
	{if $product_category_path[i].categoryID != 1}
	<a href='{"?categoryID=`$product_category_path[i].categoryID`&category_slug=`$product_category_path[i].slug`"|set_query_html}'>{$product_category_path[i].name|escape:'html'}</a>{if !$smarty.section.i.last} {$BREADCRUMB_DELIMITER}{/if}
	{/if}
	{/section}

	{* description *}
	{if $selected_category.description}<div>{$selected_category.description}</div>{/if}
	
	<br />

<div class="text-center">

{if $subcategories_to_be_shown}
<div class="background1" style="padding:6px;text-align:center;">
{/if}
{section name=i loop=$subcategories_to_be_shown}
 <a href="{"?categoryID=`$subcategories_to_be_shown[i][0]`"|set_query_html}">{$subcategories_to_be_shown[i][1]}</a>
 ({$subcategories_to_be_shown[i][2]})
{/section}

{if $products_to_show}

	{*if $string_product_sort}<p id="cat_product_sort">{$string_product_sort}</p>{/if*}
	{*<p>{include file="comparison_products_button.html"}</p>*}

	<div class="wrapper-control">
		<div class="wrapper-paging">
			{if $catalog_navigator}
			<p class="paging">{$catalog_navigator}</p>
			{/if}
		</div>

		<div class="wrapper-views text-left">
			<span>Вид:</span>
			<a href="#" data-view="first" {if $smarty.cookies.view == 'first' || !$smarty.cookies.view}class="active"{/if}><i class="fa fa-th-list"></i></a> |
			<a href="#" data-view="second"{if $smarty.cookies.view == 'second'}class="active"{/if}><i class="fa fa-th"></i></a> |
			<a href="#" data-view="third" {if $smarty.cookies.view == 'third'}class="active"{/if}><i class="fa fa-align-justify"></i></a>
		</div>
	</div>
	<div class="wrapper-products {$smarty.cookies.view}">
		<ul class="clearfix">
			{section name=i1 loop=$products_to_show}
			<li>
				{include file="product_brief.html" product_info=$products_to_show[i1]}
			</li>
			{/section}
		</ul>
	</div>

	{if $catalog_navigator}
	<p class="paging">{$catalog_navigator}</p>
	{/if}

	{*<p>{include file="comparison_products_button.html"}</p>*}

{else}
<p>
	{if $search_with_change_category_ability && !$advanced_search_in_category}
		&nbsp;
	{else}
		{if $advanced_search_in_category}
			&nbsp;&nbsp;&nbsp;&nbsp;< {"srch_no_matches_found"|translate} >
		{else}
			&nbsp;&nbsp;&nbsp;&nbsp;< {"str_empty_category"|translate} >
		{/if}
	{/if}
</p>
{/if}

</div>


</div>