<div class="wrapper-form clearfix">
	<div class="row clearfix">
		<div class="left">ФИО</div>
		<div class="right">{$partner.first_name} {$partner.last_name}</div>
	</div>

	<div class="row clearfix">
		<div class="left">Логин</div>
		<div class="right">{$partner.Login}</div>
	</div>

	<div class="row clearfix">
		<div class="left">Email</div>
		<div class="right"><a href="mailto:{$partner.Email}">{$partner.Email}</a></div>
	</div>

	<div class="row clearfix">
		<div class="left">Партнер?</div>
		<div class="right">{if $partner.is_partner}Да{else}Нет{/if}</div>
	</div>

	<div class="row clearfix">
		<div class="left">Менеджер?</div>
		<div class="right">{if $partner.is_manager}Да{else}Нет{/if}</div>
	</div>

	{section name=i loop=$partner.reg_fields}
		<div class="row clearfix">
			<div class="left">{$partner.reg_fields[i].name}</div>
			<div class="right">{$partner.reg_fields[i].value}</div>
		</div>
	{/section}
</div>