{* product brief view (from a category or search) *}
{if $product_info ne NULL}
  {if $product_info.slug}
    {assign var=_product_url value="?ukey=product&productID=`$product_info.productID`&product_slug=`$product_info.slug`"|set_query_html}
  {else}
    {assign var=_product_url value="?ukey=product&productID=`$product_info.productID`"|set_query_html}
  {/if}
  {if $product_info.slug_sub}
    {assign var=_product_url value="/product/`$product_info.productID`/`$product_info.slug_sub`"}
  {/if}

  {if $widget}{assign var=_form_action_url value="&view=noframe&external=1"}{/if}

<form class="product-form" action='{"?ukey=cart`$_form_action_url`"|set_query_html}' method="post" rel="{$product_info.productID}" {if $widget}target="_blank"{/if}>
  <input name="action" value="add_product" type="hidden" />
  <input name="productID" value="{$product_info.productID}" type="hidden" />
  <input class="product_price" value="{$product_info.PriceWithOutUnit|escape:'html'}" type="hidden" />
  {assign var=_cnt value=''}

  <div class="row clearfix marg-bottom title">
    <div class="clmn1"></div>
    <div class="clmn2">
      <a href="{$_product_url}" {$target} {if $product_info.noindex}rel="nofollow"{/if}>{$product_info.product_name|escape:'html'}</a>
    </div>
    <div class="text-center clmn3">
      {if $product_info._product_code && $smarty.const.CONF_ENABLE_PRODUCT_SKU}
        <strong>Артикул: {$product_info._product_code|escape:'html'}</strong>
      {/if}
    </div>
  </div>

  <div class="row clearfix no-marg content">
    <div class="clmn1 block-img">
      <div class="block-big-image">
      {if $product_info.picture}
        <a href="{$_product_url}" {$target} {if $product_info.noindex}rel="nofollow"{/if}>
            <img src="{$smarty.const.URL_PRODUCTS_PICTURES}/{$product_info.picture|escape:'url'}" alt="{$product_info.product_name|escape:'html'}" title="{$product_info.product_name|escape:'html'}" />
        </a>
      {/if}
      </div>

      <div class="block-small-image">
        {if $product_info.thumbnail}
          <a href="{$_product_url}" {$target} {if $product_info.noindex}rel="nofollow"{/if}>
          <img src="{$smarty.const.URL_PRODUCTS_PICTURES}/{$product_info.thumbnail|escape:'url'}" alt="{$product_info.product_name|escape:'html'}" title="{$product_info.product_name|escape:'html'}" class="product-image" />
        </a>
        {/if}
      </div>
    </div>

    <div class="clmn2">
      <a {$target} href='{$_product_url}' {if $product_info.noindex}rel="nofollow"{/if}>{$product_info.product_name|escape:'html'}</a>
    </div>

    <div class="clmn3">
      <div class="text-center title marg-bottom"><span>Кол-во</span></div>
      <div class="text-center quantity-product">
        <a href="#" class="dec-quantity">-</a>
        <input name="product_qty" type="text" size="3" class="text-center product_qty digit" value="1">
        <a href="#" class="add-quantity">+</a>
      </div>
    </div>

    <div class="clmn4">
      <div class="text-center title marg-bottom">
        {if $currencies_count ne 0 && $product_info.Price > 0}
          <span class="totalPrice">{$product_info.PriceWithUnit}</span>
          {if $product_info.PriceOriginal}
            <span class="originPrice">{$product_info.PriceOriginal}</span>
          {/if}
        {/if}
      </div>
      <div class="text-center field clearfix">
        {if $product_info.ordering_available && $product_info.Price>0 && ( $smarty.const.CONF_SHOW_ADD2CART eq 1 ) && ( $smarty.const.CONF_CHECKSTOCK==0 || $product_info.in_stock > 0 ) }

          {cpt_qorder}

          <div class="block-before-buy {if $product_info.in_cart}hide-important{/if}">
            <a href="#" class="btn small add2cart_handler" {if $widget}rel="widget"{/if}><i class="fa fa-shopping-cart"></i> <span>Добавить</span> В корзину</a>
          </div>

          <div class="block-after-buy {if $product_info.in_cart}show-price{/if}" {if $product_info.in_cart}style="display: block;"{/if}>
            <a href="/cart" class="btn small orange light large">Перейти в корзину<i class="fa fa-sign-out"></i></a>
          </div>
        {elseif $smarty.const.CONF_SHOW_ADD2CART eq 1 && $smarty.const.CONF_CHECKSTOCK && !$product_info.in_stock && $product_info.ordering_available}
          <div class="prd_out_of_stock">{lbl_prd_out_of_stock}</div>
        {/if}
      </div>
    </div>

    <div class="block-description">
      {if $product_info._product_code && $smarty.const.CONF_ENABLE_PRODUCT_SKU}
        <div class="block-sku">
          <span>Артикул:</span><i>{$product_info._product_code|escape:'html'}</i>
        </div>
      {/if}

      <div class="block-content">
        {$product_info.features}
      </div>

      {if $smarty.const.CONF_VOTING_FOR_PRODUCTS eq 'True' && 0}
        {if $PAGE_VIEW ne 'mobile' && $product_info.customer_votes > 0} {* rating *}
          <div class="sm-current-rating1"><div class="sm-current-rating1-back">&nbsp;</div><div class="sm-current-rating1-front" style="width: {$product_info.customers_rating*13}px;">&nbsp;</div></div>
        {/if}
      {/if}

      <div class="block-options">
        <table>
          {counter name='select_counter' start=0 skip=1 print=false assign='select_counter_var'}
          {section name=i loop=$product_info.product_extra}
            {if  $product_info.product_extra[i].option_type != 0}
              {section name=k loop=$product_info.product_extra[i].option_show_times}
              <tr>
                <td>
                  {$product_info.product_extra[i].name|escape:'html'}{if $product_info.product_extra[i].option_show_times > 1} ({$smarty.section.k.index+1}):{else}:{/if}
                </td>
                <td>
                  {counter name=select_counter assign=_cnt}
                  <select name='option_{$_cnt}' class="product_option">
                    <option value='' rel="0">{"str_not_defined"|translate|escape:'html'}</option>
                    {section name=j loop=$product_info.product_extra[i].values_to_select}
                    <option value='{$product_info.product_extra[i].values_to_select[j].variantID}' rel='{$product_info.product_extra[i].values_to_select[j].price_surplus}'
                      {if $product_info.product_extra[i].values_to_select[j].variantID == $product_info.product_extra[i].variantID}selected="selected"{/if}>
                      {$product_info.product_extra[i].values_to_select[j].option_value}
                    </option>
                    {/section}
                  </select>
                </td>
              </tr>
              {/section}
            {/if}
          {/section}
        </table>
      </div>
    </div>
  </div>

  <div class="row gray no-marg price clearfix">
    <div class="block-price">
      {if $currencies_count ne 0 && $product_info.Price > 0}
        <span class="totalPrice">{$product_info.PriceWithUnit}</span>
        {if $product_info.PriceOriginal}
          <span class="originPrice">{$product_info.PriceOriginal}</span>
        {/if}
      {/if}
    </div>

    <div class="block-btns clearfix">
      {if $product_info.ordering_available && $product_info.Price>0 && ( $smarty.const.CONF_SHOW_ADD2CART eq 1 ) && ( $smarty.const.CONF_CHECKSTOCK==0 || $product_info.in_stock > 0 ) }
        <div class="block-before-buy {if $product_info.in_cart}hide-important{/if}">
          <a href="#" class="btn small add2cart_handler" {if $widget}rel="widget"{/if} ><i class="fa fa-shopping-cart"></i> <span>Добавить</span> В корзину</a>
        </div>

        {cpt_qorder}

        <div class="block-after-buy {if $product_info.in_cart}show-price{/if}" {if $product_info.in_cart}style="display: block;"{/if}>
          <a href="/cart" class="btn small orange light large">Перейти в корзину<i class="fa fa-sign-out"></i></a>
        </div>
      {elseif $smarty.const.CONF_SHOW_ADD2CART eq 1 && $smarty.const.CONF_CHECKSTOCK && !$product_info.in_stock && $product_info.ordering_available}
        <div class="prd_out_of_stock">{lbl_prd_out_of_stock}</div>
      {/if}
    </div>
  </div>
</form>

{/if}