{*<script type="text/javascript" src="{$smarty.const.URL_JS}/category.js"></script>*}
{* simple search *}

{include file="brand-search.html"}

<div class="text-center">
{if $products_to_show_count > 0}

	<p class="marg-bottom">{"srch_found"|translate} <b>{$products_found}</b> {"srch_products_plural"|translate}</p>

	{*if $string_product_sort}<p id="cat_product_sort">{$string_product_sort}</p>{/if}

	{if $smarty.const.CONF_ALLOW_COMPARISON_FOR_SIMPLE_SEARCH}
		<p>{include file="comparison_products_button.html"}</p>
	{/if*}

	<div class="wrapper-control">
		<div class="wrapper-paging">
			{if $search_navigator}
			<p class="paging">{$search_navigator}</p>
			{/if}
		</div>

		<div class="wrapper-views text-left">
			<span>Вид:</span>
			<a href="#" data-view="first" {if $smarty.cookies.view == 'first' || !$smarty.cookies.view}class="active"{/if}><i class="fa fa-th-list"></i></a> |
			<a href="#" data-view="second"{if $smarty.cookies.view == 'second'}class="active"{/if}><i class="fa fa-th"></i></a> |
			<a href="#" data-view="third" {if $smarty.cookies.view == 'third'}class="active"{/if}><i class="fa fa-align-justify"></i></a>
		</div>
	</div>
	<div class="wrapper-products {$smarty.cookies.view}">
		<ul class="clearfix">
			{section name=i1 loop=$products_to_show max=$products_to_show_count}
			<li>
				{include file="product_brief.html" product_info=$products_to_show[i1]}
			</li>
			{/section}
		</ul>
	</div>

	{if $search_navigator}
		<p class="paging">{$search_navigator}</p>
	{/if}

	{*if $smarty.const.CONF_ALLOW_COMPARISON_FOR_SIMPLE_SEARCH}
		<p>{include file="comparison_products_button.html"}</p>
	{/if8}


{else}
	<p>{"srch_no_matches_found"|translate}</p>

	<div class="wrapper-find-empty">
		<div class="block-find-empty">
			<form method="post" action="/search/">
				<input type="hidden" name="action" value="search_empty" />
				<h2>Не нашли нужный товар?</h2>

				<div class="row">
					<label for="find_text">Какой товар вы ищите?<sup>*</sup></label>
					<textarea name="find_text" id="find_text"></textarea>
				</div>

				<div class="row">
					<label for="find_contact">Как с вами связаться?<sup>*</sup> (Телефон, e-mail)</label>
					<input type="text" name="find_contact" id="find_contact" />
				</div>

				<div class="row">
					<p class="error"></p>
					<input type="button" name="submit" value="ok" class="btn black" />
				</div>

				<div class="row">
					<p>Мы стараемся максимально расширять ассортимент своей продукции, чтобы удовлетворить любые запросы наших покупателей. Как только мы будем знать примерные сроки поставки интересующего вас продукта - наш менеджер свяжется с вами по указанным контактам.</p>
				</div>
			</form>
		</div>
	</div>
{/if}
</div>