<div class="all_wrapper">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tls_topbar">
<tr>
<td id="container_topbar_left"><!-- cpt_container_start -->{cpt_custom_html code='8g1gd6h8' overridestyle=':7n698c'}<!-- cpt_container_end --></td>
<td id="container_topbar"><!-- cpt_container_start -->{cpt_divisions_navigation divisions='29:54:183:107:32:189' view='horizontal' overridestyle=':8g3ted'}<!-- cpt_container_end --></td>
<td id="container_topbar_right"><!-- cpt_container_start -->{cpt_custom_html code='jymcwcmu' overridestyle=':5zs8lv'}<!-- cpt_container_end --></td>
</tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td id="container_top_left"><!-- cpt_container_start -->{cpt_auxpages_navigation select_pages='all' auxpages='' view='vertical' overridestyle=':3xaz8c'}<!-- cpt_container_end --></td>
    <td id="container_top"><!-- cpt_container_start -->{cpt_custom_html code='p5kgoddr' overridestyle=':75man4'}{cpt_language_selection view='flags' overridestyle=':r0065a'}<!-- cpt_container_end --></td>
    <td id="container_top_right"><!-- cpt_container_start -->{cpt_shopping_cart_info overridestyle=''}{cpt_currency_selection overridestyle=':wta1vr'}<!-- cpt_container_end --></td>
  </tr>
</table>

 <table width="100%" border="0" cellpadding="0" cellspacing="0">  
  <tr>
    <td id="container_left_sidebar"><!-- cpt_container_start -->{cpt_custom_html code='c7wj287f' overridestyle=':9unr4j'}{cpt_category_tree overridestyle=':wpe3jv'}{cpt_product_search overridestyle=':vxohqa'}{cpt_custom_html code='0b6u45d4' overridestyle=':5hckss'}{cpt_}{cpt_custom_html code='7tqa7d2d' overridestyle=':xyeq10'}{cpt_survey overridestyle=''}<!-- cpt_container_end --></td>
    <td id="container_main_content"><!-- cpt_container_start -->{cpt_maincontent overridestyle=':iwgkmz'}<!-- cpt_container_end --></td>
  </tr>
</table>


<div id="container_footer">
<center>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td>
<!-- cpt_container_start -->{cpt_divisions_navigation divisions='107:32:33:35' view='horizontal' overridestyle=':b3r4fu'}<!-- cpt_container_end --></td>
</tr>
</table>
</center>
</div>

<div class="small" style="text-align:center"><i>&copy; <a href="{$smarty.const.CONF_FULL_SHOP_URL}"><u>{$smarty.const.CONF_SHOP_NAME}</u></a>.</i></div>


</div>