

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="flw_top">
  <tr>
    <td id="container_top">
          <!-- cpt_container_start -->{cpt_auxpages_navigation select_pages='all' auxpages='' view='horizontal' overridestyle=':3xaz8c'}{cpt_logo file='fls_logo.gif' overridestyle=''}{cpt_custom_html code='r0lm25kj' overridestyle=':ofksvb'}<!-- cpt_container_end -->
    </td>
    <td id="container_top_right"><!-- cpt_container_start -->{cpt_shopping_cart_info overridestyle=''}{cpt_currency_selection overridestyle=''}{cpt_custom_html code='wbsbuve7' overridestyle=':5dz9ql'}<!-- cpt_container_end --></td>
    </tr>

<tr><td id="container_topbar"><!-- cpt_container_start -->{cpt_divisions_navigation divisions='29:54:183:189' view='horizontal' overridestyle=':8g3ted'}<!-- cpt_container_end --></td><td id="container_topbar_right"><!-- cpt_container_start -->{cpt_language_selection view='flags' overridestyle=''}{cpt_custom_html code='2tuzady5' overridestyle=':34ain9'}<!-- cpt_container_end --></td></tr>


  <tr> 
    <td id="container_main_content"><!-- cpt_container_start -->{cpt_maincontent overridestyle=':iwgkmz'}{cpt_tag_cloud tags_num='10' overridestyle=':xkkezl'}<!-- cpt_container_end --></td>
    <td id="container_right_sidebar"><!-- cpt_container_start -->{cpt_custom_html code='c7wj287f' overridestyle=':9unr4j'}{cpt_category_tree overridestyle=':wpe3jv'}{cpt_product_search overridestyle=':vxohqa'}{cpt_custom_html code='0b6u45d4' overridestyle=':5hckss'}{cpt_news_short_list news_num='5' overridestyle=''}{cpt_custom_html code='7tqa7d2d' overridestyle=':xyeq10'}{cpt_survey overridestyle=''}<!-- cpt_container_end --></td>
  </tr>
</table>

<br />
<div id="container_footer">
<center>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td>
<!-- cpt_container_start -->{cpt_divisions_navigation divisions='29:107:32:33:35' view='horizontal' overridestyle=':b3r4fu'}<!-- cpt_container_end --></td>
</tr>
</table>
</center>
</div><br />
<div class="small" style="text-align:center"><i>&copy; <a href="{$smarty.const.CONF_FULL_SHOP_URL}"><u>{$smarty.const.CONF_SHOP_NAME}</u></a>.
All rights reserved.</i><br />
</div>
</div>