	html {height: 100%; margin:0;padding:0;}
	
	body {
		margin: 0;
		padding: 0;
		color: #424e4d;
		font-family: Tahoma,Geneva,"DejaVu Sans Condensed",sans-serif;
		font-size: 14px;
		min-height: 100%;
		position: relative;
		width: 100%;
		min-width: 960px;
		background: #fff;
	}	
	
	div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
	input,textarea{color: #424e4d;font-family: Tahoma,Geneva,"DejaVu Sans Condensed",sans-serif;margin:0;padding: 0;font-size: 12px;}
	img{border: none;}
	input[type="text"],textarea{background: #fff;padding: 5px 5px 4px; border: 1px solid #c8d5d4; vertical-align: top;}
	select{background: #fff; border: 1px solid #c8d5d4; font-size: 12px; vertical-align: top; padding: 2px 4px 4px; cursor: pointer;}
	input[type="submit"], button{cursor: pointer;}
	
	a{color: #323231; text-decoration: underline;}
	a:hover{text-decoration: none;}
	
	* {border: 0; outline: none;}
	button::-moz-focus-inner {border: 0; outline: none;}
	
	h1{
		line-height: 24px;
	}
	
	.wrapper{padding: 0 0 86px;}
	
	/******* HEADER *******/
	
	.header {
		border-bottom: 1px solid #6ea19e;
		padding: 19px 0 0;
		background: url(../fon_header.png) repeat-x left bottom #ceedeb;
	}

	/******* LOGOTYPE *******/
	
	.logo{
		height: 32px;
		margin: 0 auto;
		text-indent: -9999em;
		width: 190px;
		background: url(../logo.png) no-repeat left top;
	}
		.logo a{height: 32px; display: block; }
		
	.contacts_block{
		color: #B22626;
		font-size: 24px;
		margin: 0 auto 10px;
		width: 960px;
	}
	.contacts_block span{float: right;}
		
	/********* TOP MENU ***********/
	
	.menu_top{
		clear: both;
		margin: 0 auto;
		overflow: hidden;
		width: 960px;
	}
	.menu_top ul {width: 1000px;}
	
		.menu_top li{
			list-style: none;
			padding: 0 12px 17px 0;
			float: left;
			text-align: center;
		}
	
			.menu_top img{margin: 0 0 3px;}
			.menu_top a{color: #fff;}
		
	#container{
		clear: both;
		width: 100%;
		padding: 19px 0 0;
	}
	
	/******* CONTENT *******/
	
	#content {
		float:left;
		width:100%;
		overflow: hidden;
	}
	
	#text {line-height: 15px; margin: 0 272px 0 340px;}
	
	#content p{padding-bottom: 26px;}
	
	#content ul, #content ol{padding-left: 21px; padding-bottom: 20px;}
	#content ul li{list-style: none; padding: 0 0 6px;}
	
	/***** RIGHT COLUMN ******/
	
	.right_sidebar{
		float: left;
		margin-left: -261px;
		width: 261px;
		line-height: 15px;
	}
		.right_sidebar_in{padding: 0 21px 0 0;}
		
		.basket_block{
			background: #e1f0ef;
			padding: 30px 18px 23px;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			border-radius: 6px;
		}
			.basket_block_ttl{font-size: 24px; color: #b22626; padding: 0 0 19px;}
				.basket_block_ttl a{color: #b22626;}
			.basket_block_in{background: url(../fon_basket.png) no-repeat 2px 5px; line-height: 24px; padding: 0 0 10px 50px; min-height: 48px;}
			
			.basket_block select{margin: 0 0 0 40px; padding: 0;}
	
	/***** LEFT COLUMN ******/
	
	.left_sidebar{
		float: left;
		margin-left: -100%;
		width: 320px;
		line-height: 15px;
	}
		.left_sidebar_in{padding: 0 0 0 21px;}
		
			.left_sidebar li{list-style: none; padding: 0 0 15px;}
			.cat_menu_l{
				background: #e1f0ef;
				padding: 30px 18px 23px;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;
			}
				.cat_menu_l_ttl{font-size: 24px; color: #b22626; padding: 0 0 24px;}
	
	/******* FOOTER *******/
	
	.footer{
		bottom: 0;
		font-size: 11px;
		height: 66px;
		left: 0;
		line-height: 18px;
		position: absolute;
		width: 100%;
		background: url(../fon_footer.png) repeat-x left bottom #c4e9e7;
	}
	.footer_in{}
	
	.contacts{float: left;}
	
	.copyrights{
		line-height: 18px;
		padding: 15px 0 0 40px;
	}
		.copyrights a{color: #424e4d; text-decoration: none;}
		.copyrights a:hover{text-decoration: underline;}
	
	.clear {	clear: both;}
	
	.red{color: #ff0000;}
	.clearfix:before, .clearfix:after {content: "\0020"; display: block; height: 0; visibility: hidden;}
	.clearfix:after { clear: both; }
	
	.counters{float: right; padding: 17px 40px 0 0;}