<?	if $subtypeObj->id != "SIMPLE" ?>
	<div class='Label'><? $widgetStrings.sparam_name_label ?>:</div>
	<input name="name" type='text' class='Text' value='<? $params.name ?>'>
	<div class='Label'><? $widgetStrings.sparam_email_label ?>:</div> 
<? /if ?>
<input id='EMAIL' name="email" type='text' class='Text' value='<? $params.email ?>'>