<? strip ?>
<iframe id="buy" src="http://www.webasyst.net/services/moreapplications.php?myapps=<?$applicationList?>&amp;lang=<?$language?><?if $license?>&amp;license=<?$license?><?/if?>"  style="width:100%;height:1100px;margin:0;padding:0;" frameborder="0" scrolling="auto">
</iframe>
<? /strip ?>
<script type="text/javascript">
<!--
var iframe = document.getElementById('buy');
//alert(iframe.scrolling);
//while(iframe.scrolling){
//iframe.height = 400;
//}
//-->
</script>
