<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
  <td colspan="2" valign="middle"><!-- cpt_container_start -->
    <div class="title-product">
      {cpt_product_name}
    </div>
    <!-- cpt_container_end -->
  </td>
</tr>
<tr>
  <td valign="middle" align="center" width="300">    
    <div class="block-image">
      <div>
        {cpt_product_images}
      </div>
      <div>
        {cpt_product_rate_form}
      </div>
    </div>
  </td>
  <td valign="top" align="left">
    <div class="block-product">      
      <div class="block-content clearfix">
        <div class="block-left">
          <div class="padding-right">
            <div class="wrapper-price">
              <div class="block-price">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td valign="middle" align="center">                      
                      <div><span>Цена</span></div>
                      {cpt_product_price}
                      {if $product_info.ordering_available && $product_info.Price>0 && ( $smarty.const.CONF_SHOW_ADD2CART eq 1 ) && ( $smarty.const.CONF_CHECKSTOCK==0 || $product_info.in_stock > 0 ) }
                        <div><span class="green"><i class="fa fa-check-circle"></i>есть на складе</span></div>                    
                      {elseif $smarty.const.CONF_SHOW_ADD2CART eq 1 && $smarty.const.CONF_CHECKSTOCK && !$product_info.in_stock && $product_info.ordering_available}
                        <div class="prd_out_of_stock">{lbl_prd_out_of_stock}</div>
                      {/if}
                    </td>
                  </tr>
                </table>
              </div>
              <div class="block-add2cart">
                {cpt_product_add2cart_button request_product_count='request_product_count'}
              </div>
              <div class="block-quick-order">
                {cpt_qorder}
              </div>
              <div class="block-other">
                {cpt_product_params_selectable overridestyle=''}
                {cpt_product_params_fixed overridestyle=''}
              </div>
            </div>
          </div>
        </div>
        <div class="block-right">
          <div class="inner-block-right">
            <div class="block-addition-info">
              <ul class="no-bullet list-button wrap-popover">
                <li class="delivery"><a href="#" class="popover-btn" data-popover=".delivery-popover">Доставка</a>
                  <div class="popover delivery-popover">
                    {$delivery_btn}
                  </div>
                </li>
                <li class="pickup"><a href="/delivery_page" class="iframe large">Самовывоз</a></li>
                <li class="pay"><a href="#" class="popover-btn" data-popover=".pay-popover">Оплата</a>
                  <div class="popover pay-popover ">
                    {$pay_btn}
                  </div>                  
                </li>
              </ul>
            </div>
            <div class="block-phone-order">
              <p>Закажите по телефону:</p>
              <h3>+7(495)<span>363-25-49</span></h3>
            </div>
            <div class="block-opt">
              <a href="/price_wholesale" class="iframe btn"><i class="fa fa-money"></i>Узнать цену оптом</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>
<tr>
  <td colspan="2">
    <!-- cpt_container_start -->
    
    <div class="clearfix">
      <ul class="product-tabs">
        <li><a href="#" class="btn_checkout delivery" data-delivery="about" data-class=".product-tab" title="О товаре">О товаре</a></li>
        <li><a href="#" class="btn_checkout delivery active" data-delivery="compatibility" data-class=".product-tab" title="Совместимость">Совместимость</a></li>      
        <li><a href="#" class="btn_checkout delivery" data-delivery="reviews" data-class=".product-tab" title="Отзывы">Отзывы</a></li>
        <li><a href="#" class="btn_checkout delivery" data-delivery="features" data-class=".product-tab" title="Характеристики">Характеристики</a></li>
        <li><a href="#" class="btn_checkout delivery" data-delivery="questions" data-class=".product-tab" title="Часто задоваеммые вопросы">Часто задоваеммые вопросы</a></li>
      </ul>
    </div>
    
    <div class="content-product-tabs">
      <div class="product-tab about">
        {$product_info.description}
        {*cpt_product_description overridestyle=''*}
      </div>
      <div class="product-tab compatibility show">    
        {$product_info.brief_description}  
      </div>
      <div class="product-tab reviews">
        {cpt_product_discuss_link overridestyle=''}
      </div>
      <div class="product-tab features">
        {$product_info.features_ru}
      </div>
      <div class="product-tab questions">
        {$questions} 
      </div>
    </div>
    
    {cpt_product_related_products overridestyle=''}
    
    {cpt_product_details_request overridestyle=''}
    <!-- cpt_container_end -->
  </td>
</tr>
</table>

<script type="text/javascript" src="http://www.gdeslon.ru/landing.js"></script>