<link rel="stylesheet" href="{$smarty.const.URL_CSS}/font-awesome.min.css" type="text/css">

<div class="wrapper-form w100">
  <h1>Список подтоваров</h1>

  <div>
    <ul>
    {foreach from=$subs item=product}
      <li>
        <a href="/index.php?ukey=additional_products&action=iFRAMEsub&iid={$product.iid}"><i class="fa fa-pencil"></i></a>
        <a href="/product/{$product.productID}/{$product.slug|escape:'url'}" target="_blank">{if $product.name_custom}<i class="fa fa-asterisk"></i>{$product.name_custom|escape}{else}{$product.name|escape}{/if}</a>
        <i style="color: gray; font-size: 11px;">({$product.item|escape})</i>
        {if $product.name_custom}
          {if $product.noindex_custom} - noindex{/if}
        {else}
          {if $product.noindex} - noindex{/if}
        {/if}
      </li>
    {foreachelse}
      <li>Список пуст</li>
    {/foreach}
    </ul>

    <div class="text-center">
      {$navigator}
    </div>
  </div>
</div>