<script type="text/javascript" src="{$smarty.const.URL_JS}/libs/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_JS}/libs/jquery-ui/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

<script type="text/javascript" src="{$smarty.const.URL_JS}/libs/jquery.datetimepicker/jquery.simple-dtpicker.js"></script>
<link rel="stylesheet" type="text/css" href="{$smarty.const.URL_JS}/libs/jquery.datetimepicker/jquery.simple-dtpicker.css">

<link rel="stylesheet" type="text/css" href="{$smarty.const.URL_CSS}/admin.css">

{literal}
<script type="text/javascript">
    $(function(){
        $('.datepicker').appendDtpicker({
            'dateFormat' : 'YYYY/MM/DD hh:mm'
        });
    });
</script>
{/literal}

{include file="backend/tiny_mce_config.html"}

<script type="text/javascript">
  translate.prdset_msg_choosen_relatedproduct = '{"prdset_msg_choosen_relatedproduct"|translate|escape:"html"}';
  translate.prdset_msg_confirm_pict_delete = '{"prdset_msg_confirm_pict_delete"|translate|escape:"html"}';
  translate.prdset_btn_delete_pict = '{"prdset_btn_delete_pict"|translate|escape:"html"}';
  translate.prdset_btn_setdefault_pict = '{"prdset_btn_setdefault_pict"|translate|escape:"html"}';
  translate.prdset_msg_loading_products = '{"prdset_msg_loading_products"|translate|escape:"html"}';
  translate.prdset_btn_hide_products = '{"prdset_btn_hide_products"|translate|escape:"html"}';
  translate.prdset_btn_next_products = '{"prdset_btn_next_products"|translate|escape:"html"}';
  translate.prdset_btn_prev_products = '{"prdset_btn_prev_products"|translate|escape:"html"}';
  translate.btn_delete = '{"btn_delete"|translate|escape:"html"}';
  translate.str_image_not_uploaded = '{lbl_str_image_not_uploaded}';
</script>


{$MessageBlock}

{$errors}

{if $action.id}
  
  <script type="text/javascript" src="{$smarty.const.URL_JS}/libs/jquery.swiper/idangerous.swiper.js"></script>
  <link rel="stylesheet" href="{$smarty.const.URL_JS}/libs/jquery.swiper/idangerous.swiper.css" type="text/css">

  <script type="text/javascript" src="{$smarty.const.URL_JS}/libs/jquery.timeto/jquery.timeTo.min.js"></script>
  <link rel="stylesheet" href="{$smarty.const.URL_JS}/libs/jquery.timeto/timeTo.css" type="text/css">
  
  <link rel="stylesheet" href="{$smarty.const.URL_CSS}/font-awesome.min.css" type="text/css">
  
  {if $images}
    <div class="wrapper-slideshow-flipper hide fade in block-show">
      <form class="product-form" action='{"?ukey=cart`$_form_action_url`"|set_query_html}' method="post" rel="{$product.productID}">
        <div class="slideshow-flipper fade in hide">
          <a class="prev-slide arrow" href="#"><i class="fa fa-chevron-left"></i></a> 
          <a class="next-slide arrow" href="#"><i class="fa fa-chevron-right"></i></a>
          <div class="swiper-container">
            <div class="swiper-wrapper">
            {section loop=$images name=i}
              <div class="swiper-slide">
                <img src="{$URL_SLIDERS}/{$images[i].enlarged|escape:'url'}" class="product-image" />          
              </div>
            {/section}        
            </div>
          </div>
          
          <div class="pagination"></div>
          
        </div>
        
        <div class="info-block">
          <div class="in-info-block clearfix"> 
            <div class="wrapper-countdown">
              <div class="countdown"></div>
            </div>
            {assign var=v value=$action.num_pr_rest/$action.num_pr_all*100}
            {if $v <= 20}
              {assign var=progres_class value='red'}
            {elseif $v <= 60}
              {assign var=progres_class value='yellow'}
            {else}
              {assign var=progres_class value='green'}
            {/if}
            
            <div class="wrapper-progressbar">
              <div class="progressbar {$progres_class}">
                <p>Осталось {$v|string_format:"%.0f"}% товаров</p>
                <div style="width: {$v|string_format:"%.0f"}%;"><p>Осталось {$v|string_format:"%.0f"}% товаров</p></div>
              </div>
            </div>
            <div class="wrapper-price">
              {assign var=s value=$product.list_price-$product.Price}
              {assign var=p value=$s/$product.list_price*100}
              <div class="block-left">
                <p><span class="red"><strike><strong>{$product.list_price}</strong></strike></span>Цена обычная</p>
              </div>
              <div class="block-center">
                <div class="star12"><div class="star12-small">скидка<span>{$p|string_format:"%.0f"}%</span></div></div>
              </div>
              <div class="block-right">
                <p><span class="green"><strong>{$product.Price}</strong></span>Цена по акции</p>
              </div>
            </div>
            <div class="wrapper-btn">   
              {if $product.slug}
                {assign var=_product_url value="?ukey=product&productID=`$product.productID`&product_slug=`$product.slug`"|set_query_html}
              {else}
                {assign var=_product_url value="?ukey=product&productID=`$product.productID`"|set_query_html}
              {/if}      
              
              <input name="action" value="add_product" type="hidden" />
              <input name="productID" value="{$product.productID}" type="hidden" />
              <input class="product_price" value="{$product.PriceWithOutUnit|escape:'html'}" type="hidden" />
              <input name="open_cart" id="open_cart" value="1" type="hidden" />
              <input type="submit" class="add2cart_handler hide-important" rel="" alt="Добавить в корзину" value="Добавить в корзину" id="add2cart">
              
              <a href="{$_product_url}" class="btn blue">Подробнее</a>
              <a href="#" class="btn orange add2cart_handler" onclick="$("#add2cart").click(); return false;">Купить!</a>
              
            </div>
          </div>  
        </div>
      </form>
      
      <div class="row text-center">
        <a href="#" data-hide=".block-show" class="btn-slider">Скрыть слайдер</a>
      </div>
    
    </div> 
  {/if}
      
  <div class="row text-center">
    <a href="#" data-show=".block-show" class="btn-slider-show">Показать слайдер</a>
  </div>
  {literal}
    
    <script type="text/javascript">
      
      $(function(){
        
        $('[data-show]').on('click', function(e){
          e.preventDefault();
          $($(this).data('show')).show(); 
          $(this).hide();
        })
        
        $('[data-hide]').on('click', function(e){
          e.preventDefault();
          $($(this).data('hide')).hide(); 
          $('.'+$(this).attr('class')+'-show').show();
        })
        
        var slideshowFlipper = new Swiper('.swiper-container',{
          pagination: '.pagination',
          mode: 'horizontal',     
          grabCursor: true,
          paginationClickable: true,
          calculateHeight: true,
          resizeReInit: true,     
          autoplay: 5000,    
          loop: true,
          speed: 700
        })
        
        $('.prev-slide').on('click', function(e) {
          e.preventDefault();
          slideshowFlipper.swipePrev();
          slideshowFlipper.startAutoplay();
        });
        
        $('.next-slide').on('click', function(e) {
          e.preventDefault();
          slideshowFlipper.swipeNext();
          slideshowFlipper.startAutoplay();
        });
        
        $('.countdown').timeTo({
          timeTo: new Date(new Date("{/literal}{$action.date_end}{literal}")),
          displayDays: 2,
          displayCaptions: true,
          fontSize: 21,
          captionSize: 11,
          lang: 'ru'
        });
                
        $('.slideshow-flipper').fadeIn();
      })
      
      </script>
  {/literal}
    
<hr />
    
{/if}

<div class="clearfix">
  
<h2>Акция</h2>

<div class="wrapper-form right">
  <form action="{''|set_query_html}" method="post" name="ListForm" id="list-actions-form" target="_self">
    <fieldset>
      <legend>Акции:</legend>
      <div class="row text-center">
        <a href="/?ukey=sliders"><input type="button" value="Добавить новую" /></a> 
        <input type="submit" id="btn-remove-action1" name="remove_action" value="Удалить выбранные" style="float: right;" />
      </div> 
      
      <div class="row">
        <table cellpadding="0" cellspacing="0" width="100%" class="grid">
          <tr class="gridsheader">
            <td width="70">Удалить</td>
            <td width="50">Id</td>
            <td width="70">Включено</td>
            <td>Название</td>
          </tr>
          {if $actions}
            {section loop=$actions name=i}
              <tr class="gridline1" height="35">
                <td><input type="checkbox" name="delete_field[]" value="{$actions[i].id}" /></td>
                <td>{$actions[i].id}</td>
                <td>{if $actions[i].active}Вкл{else}Выкл{/if}</td>
                <td><a href="/?ukey=sliders&aid={$actions[i].id}">{$actions[i].name}</a></td> 
              </tr>
            {/section}
          {else}
            <tr><td colspan="4">пусто</td></tr>
          {/if}
        </table>
        
      </div> 
      <div class="row text-center">
        <a href="/?ukey=sliders"><input type="button" value="Добавить новую" /></a> 
        <input type="submit" id="btn-remove-action2" name="remove_action" value="Удалить выбранные" style="float: right;" />
      </div>  
      <input type="hidden" name="action" value="remove_action" />
    </fieldset>  
  </form>  
</div>

<div class="wrapper-form">
    
  <form action="{''|set_query_html}" method="post" name="MainForm" id="slider-form" target="_self">
    <fieldset>
      <legend>Акция</legend>
      
      <div class="row">
        <label for="name">Включить?</label>
        <input type='checkbox' name="active" id="active" value="1" {if $action.active} checked="checked" {/if}/>
      </div>
      
      <div class="row">
        <label for="name">Название:</label>
        <input type='text' name="name" id="name" class="large" value="{$action.name}"/>
      </div>
      
      <div class="row">
        <label for="date_start">Дата начала:</label>
        <input type='text' name="date_start" id="date_start" class="datepicker" value="{$action.date_start}" />
      </div>
      <div class="row">
        <label for="date_end">Дата конца:</label>
        <input type='text' name="date_end" id="date_end" class="datepicker" value="{$action.date_end}" />
      </div>
      <div class="row">
        <label for="num_pr_all">Кол-во товара всего:</label>
        <input type='text' name="num_pr_all" id="num_pr_all" value="{$action.num_pr_all}" />
      </div>
      <div class="row">
        <label for="num_pr_rest">Кол-во товара осталось:</label>
        <input type='text' name="num_pr_rest" id="num_pr_rest" value="{$action.num_pr_rest}" />
      </div>
      <div class="row">
        <label for="product_code">Артикул товара:</label>
        <input type='text' name="product_code" id="product_code" value="{$action.product_code}" />        
      </div>
      
      {if $action.product_code}
        {if $product.productID}
          {assign var=s value=$product.list_price-$product.Price}
          {assign var=p value=$s/$product.list_price*100}
        
          <div class="row"><label>Название:</label> <a href="/?ukey=product_settings&productID={$product.productID}">{$product.name_ru}</a></div>
          <div class="row"><label>Старая цена:</label> {$product.Price} руб.</div>
          <div class="row"><label>Новая цена:</label> {$product.list_price} руб.</div>
          <div class="row"><label>Скидка:</label> {$s} руб., {$p|string_format:"%.0f"}%</div>
        {else}
          <div class="row">ТОВАР НЕ НАЙДЕН!</div>
        {/if}
      {/if}
      
      <div class="row">
        {if $action.id}
          <div class="row">
            <fieldset>
              <legend>{lbl_prdset_product_pictures}</legend>
              <ul type="none">
                <li style="list-style-type:none">{lbl_str_drag_and_drop_to_change_order}</li>
              </ul>
                  
              <table cellpadding="0" cellspacing="0" width="100%" id="product-images-container" class="grid" trheight="{$smarty.const.CONF_PRDPICT_THUMBNAIL_SIZE}">
              <tr class="gridsheader">
                <td>{lbl_prdset_str_images}
                <input name="__action" value="_update_images_priority" type="hidden" />
                </td>
                <td>{lbl_prdset_product_thumbnail}</td>
                <td>{lbl_prdset_product_picture}</td>         
                <td>{lbl_prdset_product_bigpicture}</td>
                <td>Удалить</td>
              </tr>
              
              {section loop=$images name=i}
              <tbody class="dragable">
              <tr id="image-container-{$images[i].id}" height="{$smarty.const.CONF_PRDPICT_THUMBNAIL_SIZE}" class="{if $smarty.section.i.first}gridline1{else}gridline1{/if}">
                <td class="img_container handle" title="{lbl_str_drag_and_drop_to_change_order}">
                  {if $images[i].thumbnail_exists == 1}
                    <img src="{$URL_SLIDERS}/{$images[i].thumbnail|escape:'url'}" />
                  {else}
                    <div class="error_block">{lbl_str_picture_not_uploaded}</div>
                  {/if}
                  </td>
                <td style="padding-left:10px;" class="handle">
                {if $images[i].thumbnail_exists == 1}
                  {$images[i].thumbnail_image.file}<br>
                  {$images[i].thumbnail_image.width}&times;{$images[i].thumbnail_image.height}&nbsp;px<br>
                  {$images[i].thumbnail_image.size}
                {else}
                  {$images[i].thumbnail_image.file}<br>
                  {lbl_str_image_not_uploaded}
                {/if}
                </td> 
                <td>
                {if $images[i].image_exists == 1} 
                  <a href="{$URL_SLIDERS}/{$images[i].large_image.file|escape:'url'}" class="new_window bluehref" wnd_width="{$images[i].large_image.width}" wnd_height="{$images[i].large_image.height}">
                  {$images[i].large_image.file}</a>
                  {$images[i].large_image.width}&times;{$images[i].large_image.height}&nbsp;px<br>
                  {$images[i].large_image.size}
                {else}
                  {$images[i].large_image.file}<br>
                  {lbl_str_image_not_uploaded}
                {/if}
                </td>         
                <td>
                {if $images[i].enlarged_exists == 1}  
                  <a href="{$URL_SLIDERS}/{$images[i].enlarged_image.file|escape:'url'}" class="new_window bluehref" wnd_width="{$images[i].enlarged_image.width}" wnd_height="{$images[i].enlarged_image.height}">
                  {$images[i].enlarged_image.file}</a>
                  {$images[i].enlarged_image.width}&times;{$images[i].enlarged_image.height}&nbsp;px<br>
                  {$images[i].enlarged_image.size}
                {else}
                  {$images[i].enlarged_image.file}<br>
                  {lbl_str_image_not_uploaded}
                {/if}
                </td>
                <td>
                  <input type="checkbox" name="delete_field[]" value="{$images[i].id}" />
                  <input type="hidden" class="field_priority" name="priority_{$images[i].id}" value="{$smarty.section.i.index}" />
                </td>
              </tr>
              </tbody>
              {/section}
              </table>
            </fieldset>
            {include file="backend/sortable_table.html" table_id="product-images-container" action_name="update_images_priority" action_id="action-name" default_action="save_action"}
          </div>
        {/if}
      </div>
                    
      <div class="row text-center">
        <input type="submit" id="btn-save-action" name="save_action" value="{if $action.id}Редактировать акцию{else}Добавить новую акцию{/if}" />
      </div>  
    </fieldset>
    <input type="hidden" name="aid" value="{$action.id}" />
    <input type="hidden" name="action" value="save_action" />
          
  </form>
  
  {if $action.id}
    <form enctype="multipart/form-data" action="{''|set_query_html}" method="post" name="MainForm" id="images-form" target="_self">
      <fieldset>
      <legend>Загрузка изображения</legend>
        
        <div class="row">
          <label for="upload-browse">Выберите изображение:</label>
          <input id="upload-browse" name="upload_image" type="file" />
        </div>
        
        <div class="row text-center">
          <input type="submit" id="btn-save-image" name="save_images" value="Загрузить!" />
        </div>
        
      </fieldset>
      
      <input id="set-default" name="set_default" type="hidden" value="{if $smarty.section.i.total}0{else}1{/if}" />
      <input id="upload-priority" name="upload_image_priority" type="hidden" value="1" />
      <input id="field-skip-image-upload" name="skip_image_upload" type="hidden" value="0" />
          
      <input type="hidden" name="aid" value="{$action.id}" />
      <input type="hidden" name="action" value="save_images" />
    </form>
  {/if}
</div>

</div>

<div>
  <hr />
</div>

<div class="clearfix">
  
<h2>Рассылка</h2>
<div class="wrapper-form right">
  <form action="{''|set_query_html}" method="post" name="ListForm" id="list-mailing-form" target="_self">
    <fieldset>
      <legend>Рассылки:</legend>
      <div class="row text-center">
        <a href="/?ukey=sliders"><input type="button" value="Добавить новую" /></a> 
        <input type="submit" id="btn-remove-mailing1" name="remove_mailing" value="Удалить выбранные" style="float: right;" />
      </div> 
      
      <div class="row">
        <table cellpadding="0" cellspacing="0" width="100%" class="grid">
          <tr class="gridsheader">
            <td width="70">Удалить</td>
            <td width="50">Id</td>
            <td>Название</td>
          </tr>
          {if $mailings}
            {section loop=$mailings name=i}
              <tr class="gridline1" height="35">
                <td><input type="checkbox" name="delete_field[]" value="{$mailings[i].id}" /></td>
                <td>{$mailings[i].id}</td>
                <td><a href="/?ukey=sliders&mid={$mailings[i].id}">{$mailings[i].title}</a></td> 
              </tr>
            {/section}
          {else}
            <tr><td colspan="4">пусто</td></tr>
          {/if}
        </table>
        
      </div> 
      <div class="row text-center">
        <a href="/?ukey=sliders"><input type="button" value="Добавить новую" /></a> 
        <input type="submit" id="btn-remove-mailing2" name="remove_mailing" value="Удалить выбранные" style="float: right;" />
      </div>  
      <input type="hidden" name="action" value="remove_mailing" />
    </fieldset>  
  </form>   
</div>

<div class="wrapper-form">
  <fieldset>
    <legend>Рассылка</legend>
    <form action="{''|set_query_html}" method="post" name="MainForm" id="mailing-form" target="_self">
      <div class="row">
        <label for="title">Тема рассылки</label>
        <input type='text' class="large" name="title" id="title" value="{$mailing.title}" />
      </div>
      <div class="row">
        <label for="text_ru">Текст рассылки</label>
        {html_textarea name="text" values=$mailing rows=3 cols=40 style="width:100%" class="mceEditor"}
      </div>
      
      <div class="row text-center">
        <input type="submit" id="btn-save-mailing" name="save_mailing" value="{if $mailing.id}Редактировать рассылку{else}Добавить новую рассылку{/if}" />        
      </div>
      
      <input type="hidden" name="mid" id="mid" value="{$mailing.id}" />
      <input type="hidden" name="action" value="save_mailing" />
    </form>
    
    {if $mailing.id}
    <fieldset>
      <form action="{''|set_query_html}" method="post" name="MainForm" id="send-mailing-form" target="_self">
        <div class="row text-right">
          <ul>
            <li><label for="who1">Мне <input name="who" id="who1" type="radio" value="me" checked="checked" /></label></li>
            <li><label for="who2">Всем <input name="who" id="who2" type="radio" value="all" /></label></li>
          </ul>
        </div>
        <div class="row text-right">
          <input type="submit" id="btn-send-mailing" name="send_mailing" value="Произвести рассылку" />
        </div>
        
        <input type="hidden" name="mid" value="{$mailing.id}" />
        <input type="hidden" name="action" value="send_mailing" />
      </form>
    </fieldset>
    {/if}
  </fieldset>
</div>  

</div>
