<table id="tbl-block" cellspacing="0" cellpadding="0">
<tr height="1%">
	<td colspan="2"  height="1%">
		<h1 class="breadcrumbs"><a href='{if $smarty.get.rdid}{"userID=&rdid=&did=`$smarty.get.rdid`&ukey="|set_query_html}{else}{'?ukey=customers'|set_query_html}{/if}'>{"pgn_customers"|translate}</a>
		&raquo;
		{'pgn_user_info'|translate|replace:'%CUSTOMER_NAME%':$customer_name|escape:'html'}
		</h1>
		{$MessageBlock}
	</td>
</tr>
{if $user_info_not_found}
<tr>
	<td id="left-block">&nbsp;</td><td id="right-block">&nbsp;</td>
</tr>
{else}
<tr>
<td id="left-block">
	<div id="left-div">
	<ul>
	{section name=j loop=$UserAccountDivs}
	 	<li><div {if $CurrentDivision.id eq $UserAccountDivs[j].id}class="current"{/if}>
	 		<a href='{"&ukey=&did=`$UserAccountDivs[j].id`"|set_query_html}'>{$UserAccountDivs[j].name|translate}{if $UserAccountDivs[j].ukey eq 'admin_user_order_history'}&nbsp;({$customer_orders_count}){/if}</a>
	 	</div></li>
	 {/section}

	</ul>
	
	</div>
</td>


<td id="right-block">
	{if $UserInfoFile}
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td><h2>{$CurrentDivision.name|translate}</h2></td>
            <td valign="top" style="padding-left: 20px;">{if $eLink}&nbsp;<a href="{$eLink.href}" onClick="{$eLink.onclick}" id="elink" class="dashed_link">{$eLink.title}</a>{/if}</td>
	   </tr>
    </table>
	{include file=$UserInfoFile}
	{/if}
</td>
</tr>
{/if}
</table>