/* ====================== MAIN THEME STYLES: layout, fonts & colors ====================== */

html
{ margin: 0px;
  padding: 0px;
}

body
{ margin: 0px;
  padding: 0px;
}

p, body, font, div, td, input, select, textarea
{ font-family: arial,helvetica, sans-serif;
  font-size:13px;
}

h1 {
	font-size: 160%;
	margin:1em 0;
}
h2 {
	font-size: 130%;
	margin:1em 0;
}
h3 {
	font-size: 120%; margin:1em 0 0.5em 0;
}

form{
 padding:0px;
 margin: 0px;
}

a
{ font-weight: bold;
  color: navy;
}
a:hover { color:#D94342;}
a img{
 border: 0;
}
input, select { vertical-align:middle;}
/* ====================== COMPONENT CONTAINER STYLES ====================== */

#container_top_left
{ text-align: center;
  vertical-align: middle;
  width: 200px;
  padding-bottom:10px;
}

#container_top
{ //padding:5px 0;
text-align: left;
  vertical-align:middle;
  background: #496BAB url(../../images/mdr_blue_grad_background.gif) left top repeat-x;
}

#container_top_right
{ text-align: center;
  vertical-align: top;
  width: 200px;

}

#container_left_sidebar, #container_right_sidebar
{ width:200px;
  text-align: left;
  vertical-align: top;
}

#container_main_content
{ width:"*";
 text-align: left;
  vertical-align: top;
  padding: 0px;
}

#container_footer
{ width: 100%;
  background-color: #b4b4b4;
  color: white;
  margin: 0px; padding: 0px;
}


/* ====================== DEFAULT STYLES OF VARIOUS COMPONENTS ====================== */

/* padding for all general components */
.cpt_news_short_list, .cpt_survey, .cpt_category_tree, .cpt_maincontent,
.cpt_currency_selection, .cpt_divisions_navigation, .cpt_auxpages_navigation
{
  text-align: left;
  padding: 10px;
//  width: 100%;
}

ul.vertical, ul.horizontal
{ padding: 0px;
  margin: 0px;
}
ul.horizontal{
width: 100%;
overflow: hidden;
}
.vertical li
{ padding-left: 0px;
  padding-bottom: 2px;
}
.horizontal li
{ float: left;
  margin-right: 25px;
}

.cpt_divisions_navigation ul
{ list-style-type: none;
margin: 0px;
}

.cpt_auxpages_navigation ul.vertical
{ list-style-image: url(../../images/li_infopages.gif);
  padding-left: 15px;
}
.cpt_auxpages_navigation .vertical li
{ padding-left: 5px;
}
.cpt_auxpages_navigation ul.horizontal
{ list-style-type: none;
  padding-left: 0px;
}

.cpt_shopping_cart_info
{ background: #D94342;
  border: 0px;
  text-align: center;
  vertical-align: middle;
  color: #F0B5B5;
  font-size: 120%;
  padding: 10px;
}
.cpt_shopping_cart_info div { margin:3px;}
.cpt_shopping_cart_info a
{ color: white;
  font-weight: bold; background:url(../../images/mdr_arrow_pink.gif) 5px 7px no-repeat;
  padding:5px 5px 5px 5px; display:block; font-size:14px; 

}

.cpt_survey
{ background: #B5C175 url(../../images/mdr_olive_gradient_vert.gif) left bottom repeat-x;
}
.survey_question{
 font-weight: bold;
 margin-bottom: 10px;
}
.survey_submit{
 margin-top: 10px;
 text-align:center;
}
.cpt_survey form{
 padding:0px;
 margin: 0px;
}

.cpt_currency_selection
{ text-align: center;
  font-size: 90%;
}
.cpt_currency_selection select
{ font-size: 90%;
}
.cpt_currency_selection form{
 display: inline;
}

.cpt_product_search form{
 margin: 0px!important;
 padding: 10px;
}

.cpt_language_selection {
  padding: 5px;
  text-align:right; padding-right:8px;
}

.cpt_category_tree {
 padding:0 7px 15px 15px;
}
.cpt_category_tree ul{
 list-style-type:none;
 margin:0px;
 padding:0px;
}
.cpt_category_tree ul li { padding:0 0 2px 10px; background:url(../../images/mdr_arrow_category_small.gif) left 5px no-repeat;}
.cpt_category_tree ul li.child, .cpt_category_tree ul li.child_current { background:none;}
.cpt_category_tree .bullet { font-size:0px;}
.cpt_category_tree .parent_current a{
 font-size: 120%;
 font-weight: bold;
 color: black!important;
 text-decoration: none;
}

.cpt_category_tree .child a {
 padding-left: 10px;
 font-size:90%;
 font-weight:normal;
 background: url(../../images/mdr_point.gif) left center no-repeat;
}
.cpt_category_tree .child_current a{
 padding-left: 10px;
 background: url(../../images/mdr_point_v.gif) left center no-repeat;
 color: black!important;
 text-decoration: none;
}
a .bullet{
  text-decoration: none!important;
}
.cpt_category_tree .tab{
 margin-left:10px;
}

.cpt_product_add2cart_button
{ padding-top: 10px;
}
.home_page_category_logo { background:url(../../images/defaultnocatimage.gif) left top no-repeat; display:block; height:65px; width:65px;}
#container_main_content .cpt_root_categories td.cat_image a {position:relative; top:-0.8em;}
#container_main_content .cpt_root_categories { padding-top:1em;}
#container_main_content .cpt_root_categories td { vertical-align:top;}
/* ====================== SET HOW CERTAIN COMPONENTS APPEAR IN VARIOUS CONTAINERS ====================== */
/* ====================== (if you wish to overwrite default appearence of components in certain containers) ====================== */
#container_top_left, #container_left_sidebar .cpt_category_tree  { background:url(../../images/mdr_companyname_background.gif) left bottom repeat-x;}

#container_top_left a { text-decoration:none; font-size:17px; font-family:Arial, Helvetica, sans-serif; line-height:150%;}
#container_top_left span { padding:0 2px;}
#container_top_left span.mdr_l1 { color:#f67c06;}
#container_top_left span.mdr_l2 { color:#097bd4;}
#container_top_left span.mdr_l3 { color:#000;}


#container_top .cpt_divisions_navigation, #container_top .cpt_auxpages_navigation
{ width:auto; padding:5px 20px; //padding:0px 20px;}


#container_top .cpt_divisions_navigation a, #container_top .cpt_auxpages_navigation a
{ color: fff;
  text-decoration:none;
  font-weight: bold;
}

#container_top .cpt_divisions_navigation ul.vertical, #container_top .cpt_auxpages_navigation ul.vertical
{ list-style-image: none;
  padding: 0px;
  margin: 0px;
  
}
#container_top .cpt_divisions_navigation ul.vertical li, #container_top .cpt_auxpages_navigation ul.vertical li { width:auto; float:left; clear:left;  border-left: 3px solid white; padding-left:20px;}
#container_top .cpt_auxpages_navigation ul
{ list-style-type: none;
}

#container_top .cpt_divisions_navigation a:hover, #container_top .cpt_auxpages_navigation a:hover
{ text-decoration: underline;
}

#container_top_right .cpt_language_selection a, #container_top .cpt_language_selection a
{ color: white;
}

#container_top_right .cpt_currency_selection
{ padding: 5px;
  color: white;
  background-color: black;
}

/*container_left_sidebar styles*/
#container_left_sidebar .cpt_product_search
{ background: #B5C175 url(../../images/mdr_olive_gradient_vert.gif) left bottom repeat-x; color:#163106;
}

#container_left_sidebar .cpt_product_search a {color:#163106;}
#container_left_sidebar .col_header, #container_right_sidebar .col_header{ font-size:15px; color:#666666;  padding:8px 0 5px 30px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
#container_left_sidebar .col_header { background:#fff url(../../images/mdr_arrow_olive.gif) 10px 10px no-repeat;}
#container_right_sidebar .col_header { background:#f9f9f9 url(../../images/mdr_arrow_olive.gif) 10px 10px no-repeat;}
#container_left_sidebar .col_header.green, #container_right_sidebar .col_header.green { background:#B5C175 url(../../images/mdr_arrow_darkolive.gif) 10px 10px no-repeat; color:#163106;}
#container_left_sidebar .col_header.green {padding:8px 0pt 0 30px;}

#container_footer .cpt_divisions_navigation
{ padding: 3px;
  margin: 0px;
  text-align: center;
}
#container_footer .cpt_divisions_navigation a
{ font-weight: normal;
  color:#222;
}

#container_main_content .cpt_product_lists
{ padding-bottom: 20px;
}

#container_right_sidebar .cpt_news_short_list
{  background:#f9f9f9 url(../../images/mdr_grey_grad_right.gif) left bottom repeat-x;
}
#container_left_sidebar .cpt_news_short_list
{  background: white url(../../images/theme0_grey_gradient_hor.gif) repeat-y;
   background-position: right;
}

#container_top .cpt_tag_cloud a, #container_top .cpt_category_tree a
{ color: white;
}
#container_top .cpt_language_selection { width:auto; float:right; display:inline; _margin-top:70px;}
#container_top .cpt_language_selection a img { border:#ffffff solid 1px ;}
#container_left_sidebar .cpt_product_search input {padding:1px;}
#container_left_sidebar .cpt_product_search input#searchstring
{ width: 120px;
border:solid 1px #707070;padding:2px;
}
#container_left_sidebar .cpt_tag_cloud { background:#fff url(../../images/mdr_companyname_background.gif) left bottom repeat-x; padding:20px 10px;}
#container_main_content ul { list-style-position:inside;}
/* ====================== STYLES OF ELEMENTS THAT APPEAR INSIDE VARIOUS COMPONENTS ====================== */

#shpcrtca{
 font-weight: bold;
 font-size: 130%;
 white-space: nowrap;
}

#searchstring
{ width: 60%;
}

.block_tag_cloud  { font-size:15px;}
.block_tag_cloud a { text-decoration:none;  font-family:Arial, Helvetica, sans-serif; word-spacing:110%; letter-spacing:120%;}
h1.welcome { font-size:220%; letter-spacing:-1px; font-weight:normal; }

/* ====================== PREDEFINED STYLES; edit, but do not delete these styles ====================== */

.small
{ font-size: 80%;
}
.big
{ font-size: 150%;
}

.background1, .background1 td
{ background-color: #D9E9FF;
}

.btn_checkout
{ font-size: 130%;
  font-weight: bold;
  margin: 10px;
  padding: 3px;
}

.prdbrief_add2cart
{ padding-top: 5px;
}

.error_block
{ font-weight: bold;
  color: red;
}

#tbl-checkout-progress td{
font-size:0.7em;
vertical-align: top;
}

.current_prd_thumbnail img{
	border: #BBBBBB 3px solid;
}
a.prd_thumbnail img{
	border: #FFFFFF 3px solid;
}
a.prd_thumbnail:hover img{
	border: #BBBBBB 3px solid;
}

.news_date
{ color: #555;
  font-size: 90%;
}
.news_title
{ padding-bottom: 10px;
}
.news_title a { color:#000; font-weight:normal;}
.news_viewall
{ padding-bottom: 10px;
}
.news_subscribe, .news_thankyou
{ padding: 5px;
  background-color: #f4f4f4;
}
.news_subscribe img { vertical-align:middle;}
/************************
BLOG STYLES
***************************/
.post_title{
 color: #666;
 margin-top: 30px;
 margin-bottom: 0px;
}
.post_date{ 
 color: #999;
 border: 0px solid #EEE;
 border-top-width: 1px;
 margin-bottom: 15px;
 }
.post_content{
 padding-left: 15px;
}

/***************************
PRODUCTS COMPARISON
****************************/
.cmp_headers{
 background-color: #d9e9ff;
}
.cmp_column_odd{
 background-color: white;
 vertical-align: top;
}
.cmp_column_even{
 background-color: #F2F8FF;
 vertical-align: top;
}
#cmp-table tr:hover td{
 background-color: #d5e5fa!important;
}
#cmp-table tr td{
 text-align:center;
 padding: 6px;
}
#cmp-table tr td.cmp_headers{
 text-align: left;
}

/***************************
PRODUCT DETAILED
****************************/
.regularPrice{
 color: brown;
 text-decoration: line-through;
}
.totalPrice{
 color:#b31b00;
 font-weight: bold;
 font-size: 130%;
}
.youSaveLabel{
 font-size: 75%;
}
.youSavePrice{
 font-size: 75%;
}
.prd_out_of_stock {
 font-style:  italic;
}
.cpt_product_category_info a, .cat_path_in_productpage a { font-size:120%;}
/************************
PRODUCT REVIEWS STYLES
***************************/
.review_block
{ margin-left: 20px;
}
.review_title{
 color: #333;
 margin-top: 10px;
 margin-bottom: 0px;
 font-size: 120%;
}
.review_date{ 
 color: #999;
 border: 0px solid #EEE;
 border-top-width: 1px;
 font-size: 90%;
 margin-bottom: 5px;
 }
.review_content{
 color: #333;
 padding-left: 20px;
}
.review_showall{
 margin-left: 20px;
}

/****************************
SHOPPING CART
*****************************/
.background_cart_top
{ background-color: #D9E9FF;
  border-bottom: 1px #99C9DF solid;
  	font-size:13pt;
}
.background_cart_top h1{
 display: inline;
 padding: 0px;
 margin: 0px;
}
#cart_content_tbl{
     width:100%;}
#cart_content_tbl td{
 padding: 6px;
}
#cart_page_title{
 padding: 10px;
 text-align: left;
}
#cart_page_title h1{
 display inline;
 padding: 0px;
 margin: 0px;
}
#cart_clear{
 padding: 10px;
 text-align: right;
}
#cart_clear a{
 font-size:9pt;
}
.cart_discount_label{
 font-weight: bold;
}
#cart_total_label{
 font-size: 130%;
 font-weight: bold;
}
#cart_total{
 background-color: #D9E9FF;
 font-size: 130%;
 font-weight: bold;
 padding: 10px;
 white-space: nowrap;
}
#cart_checkout_btn{
 padding-top: 20px;
}
.cart_product_brief_description{
 font-size: 80%;
}
#cart_content_header td{
 font-weight: bold;
}
.cart_apply_for_discounts_extra{
 font-size: 80%;
 color: #777;
}
.cart_product_quantity{
 text-align: center;
}

/********************
HOMEPAGE UNFOLDED TREE
*********************/
.rcat_root_category
{ font-size: 130%;
  font-weight: bold;line-height:130%; text-decoration:none;
}
.rcat_root_category:hover { border-bottom:solid 1px;}
.rcat_products_num
{ color: #999999;
  font-size: 80%;
}
.rcat_child_categories a
{ line-height:150%;
  font-weight: normal;
}

/********************
REGISTRATION PAGE
*********************/
#reg_fields_tbl td{
 padding: 5px;
}
#reg_auth_fields td{
 background-color: #D9E9FF;
}
#reg_confcode td{
 background-color: #D9E9FF;
}
#reg_fields_tbl td input, .addressform td input{
 width: 300px;
}
#subscribed4news{
 width:auto!important;
}
#reg_fields_tbl td textarea, .addressform td textarea{
 width: 300px;height: 100px;
}
#reg_submit_btn{
 font-size:150%;
 font-weight: bold;
}

/*********
SEARCH IN CATEGORY
**********/
#cat_advproduct_search {
 background-color: #D9E9FF;
	margin-right:10px;
	width:232px;
}
#cat_advproduct_search form { padding:10px; }
#cat_advproduct_search td { vertical-align:top; }
#cat_advproduct_search td { vertical-align:top; }
#cat_advproduct_search select { width:100%;  }
#cat_advproduct_search form, #cat_advproduct_search table { //width:100%;}
#cat_advproduct_search h3 { padding:0px; margin: 10px 10px 0 10px;}
#cat_info_left_block, #cat_advproduct_search  { float:left;}

.cpt_maincontent center { clear:both;}
#cat_top_tree { overflow:hidden; margin-top:10px;}
.hndl_submit_prds_cmp, #cat_product_sort { margin:10px 0;}
.prdbrief_name a{ font-size:130%; text-decoration:none; line-height:170%;}
.prdbrief_name a:hover { border-bottom:solid 1px;}

.product_list a { font-size:130%; line-height:170%; text-decoration:none;}
.product_list a:hover { border-bottom:solid 1px;}
.product_list a:hover img, .product_list td a:hover{ border:none;}
.product_option { width:99%; //width:auto;  position:relative; zoom:1;}

/************
CHECKOUT
************/
.checkout_noframe_title {
	padding: 5px 15px;
	text-align:left;
}
#checkout_have_account {
	padding: 15px;
	background-color: #D9E9FF;
	margin: 0 -5px 15px -5px;
}
#checkout_logininfo { width:428px;}
#checkout_logininfo .inputtext, #checkout_addresses .inputtext, #checkout_addresses textarea {
	width: 200px;
}
.paddingblock input.checkout_buttons {
	font-size: 130%;
	font-weight: bold;
	margin:5px 0;
}
.checkout_steps_divider {
	width: 40px;
	height:1px;
	background-color:#99C9DF;
	overflow:hidden;
}
#checkout_addresses { width:800px;}
#checkout_addresses td { } 
/**********************
ORDER STYLES
***********************/
tr#ord_total_row * {
	font-size: 105%;
	font-weight: bold;
}
.row_odd td {
	background-color: #F2F8FF;
}
.row_even td {
	border: 0px solid #D9E9FF;
	border-width: 1px 0px;
}

.paddingblock { background:#fff;
	padding-left: 15px;
	padding-right: 15px;
	text-align:left;
	font-size:12pt;
}
.paddingblock h2 {
	padding:20px 5px;
	margin-top: 0px;
}
.paddingblock td { font-size:95%; vertical-align:top; padding:5px;}
.paddingblock p { margin-bottom:10px;}

.paddingblock input { margin:2px 0 0 0;}
.asterisk {
	color:red;
}
.cellpadding tr td {
	padding: 5px;
}
.cust_name {
	font-size:110%;
	font-weight: bold;
}
#prddeatailed_container .cpt_product_rate_form table {
	width: 100%;
	/***********************/
width: auto;/**/
}

#block-customerinfo td { font-size:90%;}
.cpt_product_images{
float: left;
}

/*NIFTY*/
b.niftycorners,b.niftyfill{display:block}

b.niftycorners *{display:block;height: 1px;line-height:1px;font-size: 1px;
    overflow:hidden;border-style:solid;border-width: 0 1px}
  
/*normal*/
b.r1{margin: 0 3px;border-width: 0 2px}
b.r2{margin: 0 2px}
b.r3{margin: 0 1px}
b.r4{height: 2px}
b.rb1{margin: 0 8px;border-width:0 2px}
b.rb2{margin: 0 6px;border-width:0 2px}
b.rb3{margin: 0 5px}
b.rb4{margin: 0 4px}
b.rb5{margin: 0 3px}
b.rb6{margin: 0 2px}
b.rb7{margin: 0 1px;height:2px}
b.rb8{margin: 0;height:2px}
b.rs1{margin: 0 1px}
/*transparent inside*/
b.t1{border-width: 0 5px}
b.t2{border-width: 0 3px}
b.t3{border-width: 0 2px}
b.t4{height: 2px}
b.tb1{border-width: 0 10px}
b.tb2{border-width: 0 8px}
b.tb3{border-width: 0 6px}
b.tb4{border-width: 0 5px}
b.tb5{border-width: 0 4px}
b.tb6{border-width: 0 3px}
b.tb7{border-width: 0 2px;height:2px}
b.tb8{border-width: 0 1px;height:2px}
b.ts1{border-width: 0 2px}


body.body-page-404 { background:#fff; background-image:none; text-align:left; font-size:12px;}
body.body-page-404 ul, body.body-page-404 li { list-style:none;}
#powered_by { font-size:10px !important;}
.cpt_product_add2cart_button input { vertical-align:middle;}
