.cptovst_3hlng3 *,.cptovst_3hlng3{text-align: left!important;}












.cptovst_ajh5s7 *,.cptovst_ajh5s7{text-align: left!important;}


.cptovst_79sbk8 *,.cptovst_79sbk8{text-align: left!important;}


.cptovst_3frep1 *,.cptovst_3frep1{text-align: left!important;}


.cptovst_8gvlvs *,.cptovst_8gvlvs{text-align: left!important;}






.cptovst_atci3f *,.cptovst_atci3f{text-align: left!important;}


.cptovst_b3r4fu *,.cptovst_b3r4fu{text-align: left!important;}


.cptovst_iwgkmz *,.cptovst_iwgkmz{text-align: left!important;}


